section#form {
    background-color: var(--tertiary);
}

section#form div#form-cont {
    max-width: var(--container);
    margin: 0 auto;
    padding: 80px 0;
}
div#form-cont h2{
    font-size: 48px;
    font-weight: 700;
    margin-left: 95px;
}
div#form-cont li.form-item{
    display: flex;
    font-family: Arial, Helvetica, sans-serif ;
}

div#form-cont ul#list-form{
    flex-direction: column;
    margin-top: 37px;
}
li.form-item:not(:first-child){
    margin-top: 45px 
}
li.form-item div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 24px;
}
li.form-item h3{
    font-size: 24px;
    font-weight: 700;
}
li.form-item p.onde{
    font-size: 16px;
    color: var(--title);
}
li.form-item p.quando{
    font-size: 14px;
    color: var(--text);
}
#logo{
    margin: 30px;
    width: 200px;
    height: 50px;
}
@media (max-width: 820px)  {
    section#form div#form-cont {
        padding: 40px 0;
        
    }
    div#form-cont h2{
        font-size: 38px;
        margin-left: 120px;
    }
    #logo{
        width: 100px;
        height: 30px;
        margin: 10px;
    }
    li.form-item h3{
        font-size: 19px;
        font-weight: 600;
        margin-bottom: 8px;
    }
}