section#inicio{
    width: var(--container);
    margin: 0 auto;
    height: calc(100vh - (40px + 29px));/* Altura do header menos a altura da tela */
    display: flex;
    align-items: center;
}
section#inicio h1 {
    font-size: 88px;
    font-weight: 600;
    text-transform: uppercase;
}
section#inicio h1 span{
    color: var(--primary);
    display: block;
}
section#inicio img {
    display: flex;
    object-fit: contain;
    width: 400px;
    border-radius: 20%;
    -webkit-mask-image: linear-gradient(to left, var(--background), transparent);
    mask-image: linear-gradient(to left , var(--background), transparent);
    position:absolute;
    right: 0;
    z-index: -1;
}
@media (max-width: 700px) {
    body{
        width: 600px;
    }
    section#inicio{
        width: 500px;
        height: calc(80vh - (40px + 29px));
    }
    section#inicio h1 {
        font-size: 50px;
        font-weight: 600;
    }
    section#inicio img {
        width: 200px;
        border-radius: 30%;;
        position:relative;
        top: 140px;
        right: 140px;
    }
    
}