section#inicio{
    width: var(--container);
    margin: 0 auto;
    height: calc(70vh - (40px + 29px));/* Altura do header menos a altura da tela */
    display: flex;
    align-items: center;
}
section#inicio h1 {
    font-size: 88px;
    font-weight: 600;
    text-transform: uppercase;
}
section#inicio h1 span{
    color: var(--primary);
    display: block;
}
section#inicio img {
    display: flex;
    object-fit: contain;
    width: 220px;
    border-radius: 20%;
    -webkit-mask-image: linear-gradient(to left, var(--background), transparent);
    mask-image: linear-gradient(to left , var(--background), transparent);
    position:absolute;
    top: 30vh;
    right: 25vh;
    z-index: -1;
}
@media (max-width: 820px) {
    section#inicio{
        width: 500px;
        height: calc(50vh - (40px + 29px));
    }
    section#inicio h1 {
        font-size: 35px;
        font-weight: 600;
    }
    section#inicio img {
        width: 120px;
        height: 160px;
        border-radius: 30px;;
        position:relative;
        top: 50px;
        right: 30px;
    }
    
}