.icons{
    top: 1rem;
    right: 2rem ;  

}
.icon {
    width: 40px;
    height: 40px;
    margin: 5px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: .25s;
}
.icon:hover, .icon:focus{
    outline-offset: 4px
}
.icon:hover, .icon:focus img{
    animation: shake .25s
}
.icon-git:hover,.icon-git:focus{
    background-color: #161B22;
    outline-color: #161B22;

}
.icon-linkd:hover, .icon-linkd:focus{
    background-color: #0077b5 ;
    outline-color: #0077b5;
}
.icon-whats:hover, .icon-whats:focus{
    background-color:#00E676 ;
    outline-color: #00E676;
}
@keyframes shake {
    10%{transform: rotate(15deg)}
    20%{transform: rotate(-15deg);}
    30%{transform: rotate(15deg);}
    40%{transform: rotate(-15deg);}
}
.git, .linkd, .whats{
    width: 40px;
    height: 40px;
    position: absolute;
}