@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:wght@400;700&display=swap');

body{
    font-family: 'Charis SIL', serif;
    background-color: #45c4b15b;
}
/*menu de navegação  */
nav{
    top: 0;
    left: 0;
    position:absolute;
    background-color: #45C4B0;
    display: inline-block;
    width: 100%;
}
.menu{
    font-size: large;
    display:inline-block ;
}
.menu ul li{
    display: inline;
}
.menu ul li a{
    color: #fff;
    padding: 10px;
    display: inline-block;
}
.menu ul li a:hover, a:focus{
    color: black;
    animation: shake .1s;
}
header{
    margin-top: 100px;
    background: linear-gradient(#45c4b12d, #45c4b141);
    text-align: end;
}
img#perfil{
    padding: 20px 50px;
    position: relative;
    width: 100px;
 }
 
#publ{
    background-color: #E5E5E5;
    padding: 20px;

}

#habi{
    background-color: #4387D8;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}
aside{
    background-color: #315E93;
    padding: 20px;
}

li, a{
    list-style: none;
    text-decoration: none;
}

/* Icones */

.icons{
    position: absolute;
    top: -0.5rem;
    right: 2rem ;  
}
.icon {
    width: 40px;
    height: 40px;
    margin: 5px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: .25s;
}
.icon:hover, .icon:focus{
    outline-offset: 4px
}
.icon:hover, .icon:focus img{
    animation: shake .25s
}
.icon-git:hover,.icon-git:focus{
    background-color: #2ea44f;
    outline-color: ;
}
.icon-linkd:hover, .icon-linkd:focus{
    background-color: #0077b5 ;
    outline-color: #0077b5;
}

@keyframes shake {
    10%{transform: rotate(15deg)}
    20%{transform: rotate(-15deg);}
    30%{transform: rotate(15deg);}
    40%{transform: rotate(-15deg);}
}
.git, .linkd{
    width: 40px;
    height: 40px;
    position: absolute;
}
/* Habilidades */

.card{
    width: 150px;
    margin: 7px;
    padding: 4px;
    background-color: white;
}
.cert{
    width: 250px;
    margin: 15px;
}