@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:wght@400;700&display=swap');

body{
    font-family: 'Charis SIL', serif;
    background: linear-gradient(#62cce4, #2a9bb7) ;
}
nav{
    position: absolute;
    display: inline;
}
.menu{
    padding: 0 15px;
    background-color: transparent;
    margin: 15px;

}
header{
    background:rgba(0, 0, 255, 0.144);
    padding: 20px;
}
article#publ{
    background-color: #E5E5E5;
    padding: 20px;

}

article#habi{
    background-color: #4387D8;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}
aside{
    background-color: #315E93;
    padding: 20px;
}
img#perfil{
   width: 100px;
}
ul, li, a{
    list-style: none;
    text-decoration: none;
}
li{
    display: inline;
}


a:hover, a:focus {
    color: black;
    /* background-color: silver; */
}
.card{
    width: 150px;
    margin: 7px;
    padding: 4px;
    background-color: white;
}
.cert{
    width: 250px;
    margin: 15px;
}
/* Icones */

.icons{
    display: flex;
    column-gap: 25px;
    justify-content: end;
    
}
.icon {
    width: 50px;
    height: 50px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: .25s;
}
.icon:hover, .icon:focus{
    outline-offset: 4px
}
.icon:hover, .icon:focus img{
    animation: shake .25s
}
.icon-git:hover,.icon-git:focus{
    background-color: #2ea44f;
    outline-color: ;
}
.icon-linkd:hover, .icon-linkd:focus{
    background-color: #0077b5 ;
    outline-color: #0077b5;
}

@keyframes shake {
    10%{transform: rotate(15deg)}
    20%{transform: rotate(-15deg);}
    30%{transform: rotate(15deg);}
    40%{transform: rotate(-15deg);}
}
.git, .linkd{
width: 50px;
height: 50px;
}
