:root{
    --background: #E5EAEF;
    --primary: #4387D8;
    --secondary: #315E93;
    --tertiary: #FBFCFE;
    --white: #FFFFFF;
    --title: #102032;
    --text: #10203283;
    --container: 1240px;

}